#barContainer {
    display: flex;
    align-items: flex-end;
    width: 75vw;
    height: 70vh;
    justify-content: center;
    margin: auto;
    background-color: grey;
    padding: 10px;
}

#sorted {
    background-color: green;
}

#unsorted {
    background-color: white;
}

#current {
    background-color: red;
}

.bar {
    margin: 0.15%;
}

body {
    background-color: rgb(94, 94, 94);
}
