:root {
    --grid-colour: #3c3c3d;
}

.table {
    border-spacing: 0;
}
.grid {
}

.node-row {
}

.node {
    border: var(--grid-colour);
    border-style: solid;
    border-width: 1px;

    height: 1.5rem;
    width: 1.5rem;
}

.empty {
}
.target {
    background-color: red;
}
.start {
    background-color: orange;
}
.wall {
    background-color: white;
    animation: createBox 0.25s;
}
.closed {
    background-color: cadetblue;
    animation: colourChange 1s;
}
@keyframes createBox {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes colourChange {
    from {
        background-color: green;
    }
    to {
        background-color: cadetblue;
    }
}
