:root {
    --grid-colour: #3c3c3d;
    --closed: #29bf12;
    --open: #1c9dee;
    --target: #e71d36;
    --path: #7209b7;
    --start: #cf8300;
}

.table {
    border-spacing: 0;
}
.grid {
}

.node-row {
}

.node {
    border: var(--grid-colour);

    border-width: 1px;

    height: 1.5rem;
    width: 1.5rem;
}

.empty {
    border-style: solid;
}
.target {
    background-color: var(--target);
}
.start {
    background-color: var(--start);
}
.wall {
    background-color: white;
    animation: createBox 0.5s;
}
.open {
    background-color: var(--open);
    animation: open 1s;
    border-radius: 100%;
    transform: scale(0.5);
}
.closed {
    background-color: var(--closed);
    animation: close 5s;
}
.path {
    background-color: var(--path);
}
@keyframes createBox {
    from {
        border-radius: 100%;
        transform: scale(0);
    }
    90% {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
        border-radius: 0;
    }
}

@keyframes close {
    from {
        background-color: var(--open);
        transform: scale(0.5);
        border-radius: 100%;
    }
    25% {
        transform: scale(1);
        border-radius: 0;
    }
    to {
        background-color: var(--closed);
    }
}

@keyframes open {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(0.5);
    }
}
