:root{
    --grid-colour:#3c3c3d;
}

.table{
    border-spacing: 0;
}
.grid{
    
}

.node-row{

}

.node{
    
    border: var(--grid-colour);
    border-style: solid;
    border-width: 1px;
    
    
    height: 1.5rem;
    width: 1.5rem;
  
}

.empty{
    
}
.target{
    background-color: red;
    animation: createBox .25s;
}
.start{
    background-color: orange;
    animation: createBox .25s;
}
.wall{
    background-color: white;
    animation: createBox .25s;
}
@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}


.node:hover
{
    
}