:root {
    --sorted: #29bf12;
    --unsorted: #1c9dee;
    --sorting: #e71d36;
    --pivot: #7209b7;
}

.arrayBox {
    height: 25rem;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.arrayBar {
    background-color: var(--unsorted);
    width: 100px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 5px;
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background: #434343;
}
.select:disabled {
    cursor: not-allowed;
}
input:disabled {
    cursor: not-allowed;
}

.buttons {
    margin-right: 0.5rem;
}
.info {
    margin-left: 0.5rem;
    font-size: 2rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.buttonList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.buttonBit {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.random {
    background: var(--sorting);
}
.sort {
    background: var(--sorted);
}
.button {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-size: 1.5rem;

    padding: 20px;
    border-radius: 1rem;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}
.button:hover {
    background: #434343;

    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

@media only screen and (max-width: 1200px) {
    .arrayBar {
        margin-left: 0.5px;
        margin-right: 0.5px;
    }
    .card-half {
        grid-column: span 2 / auto;
    }
}
@media only screen and (max-width: 600px) {
    .arrayBox {
        height: 15rem;
    }
    .buttons {
        margin-right: 1rem;
    }
    .info {
        margin-left: 1rem;
    }
}
