@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap");
* {
    font-family: "Fira Code";
}
body {
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

li {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
}
.arrayBox {
    margin: auto;
    height: 50vh;
    width: 80vw;
    padding: 1vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrayBar {
    background-color: rgb(0, 140, 255);
    width: 100px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 5px;
}

.button {
    font-size: large;
    border-radius: 25px;
    padding: 5px 20px;
    border: none;
}
.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.select:disabled {
    cursor: not-allowed;
}
input:disabled {
    cursor: not-allowed;
}
.random {
    background-color: red;
    color: aliceblue;
}

.sort {
    background-color: greenyellow;
}

.select {
    outline: none;
    color: aliceblue;
    border-color: aqua;
    border-width: 2px;
    font-size: large;
    background-color: black;
    border-radius: 25px;
    padding: 5px;
}
@media only screen and (max-width: 600px) {
    .arrayBar {
        margin-left: 0.5px;
        margin-right: 0.5px;
    }
}
